<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{frag :: head}">
    <meta charset="UTF-8">

       <link th:href="@{webjars/bootstrap/3.0.3/dist/css/bootstrap.min.css}" href="../../../static/css/bootstrap.css" rel='stylesheet' type='text/css'  />
<!--    <title>DeeStore :: Product List</title>-->
</head>

<body>
    <th:block th:insert="~{frag :: frag_body}"></th:block>

    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Product List</h1>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-4 p-l-0 title-margin-left">
                        <div class="page-header">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="#">Dashboard</a></li>
                                    <li class="active">Product List</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>
                <!-- /# row -->
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card alert">
                                <div class="card-header pr">
                                    <h4>All Product List </h4>
                                    <span id="productName" th:text="${#request.getParameter('productname')}" hidden></span>
                                    <div class="search-action">
                                        <div class="search-type dib">
                                            <input class="form-control input-rounded" placeholder="#ID type here..." type="text">
                                        </div>
                                        <div class="search-type dib">
                                            <input class="form-control input-rounded" placeholder="Product Name..." type="text">
                                        </div>
                                        <div class="search-type dib">
                                            <input class="form-control input-rounded" placeholder="Search" type="text">
                                        </div>
                                    </div>
                                    <div class="card-header-right-icon">
                                        <ul>
                                            <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
                                            <li class="card-option drop-menu"><i class="ti-settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="link"></i>
                                                <ul class="card-option-dropdown dropdown-menu">
                                                    <li><a href="#"><i class="ti-loop"></i> Update data</a></li>
                                                    <li><a href="#"><i class="ti-menu-alt"></i> Detail log</a></li>
                                                    <li><a href="#"><i class="ti-pulse"></i> Statistics</a></li>
                                                    <li><a href="#"><i class="ti-power-off"></i> Clear List</a></li>
                                                </ul>
                                            </li>
                                            <li class="doc-link"><a href="#"><i class="ti-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table student-data-table m-t-20">
                                            <thead>
                                            <tr>
                                                <th><label><input type="checkbox" value=""></label>ID</th>
                                                <th>Product Name</th>
                                                <th>Manufacturer</th>
                                                <th>Image URL</th>
                                                <th>Unit</th>
                                                <th>Price</th>
                                                <th>Date Created</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="product : ${products}">
                                                <td th:text="${product.id}"><label><input type="checkbox" value=""></label></td>
                                                <td th:text="${product.productName}">

                                                </td>

                                                <td th:text="${product.productManufacturer}">

                                                </td>
                                                <td th:text="${product.productImage}">

                                                </td>
                                                <td th:text="${product.unitStock}">

                                                </td>
                                                <td th:text="${product.productPrice}">

                                                </td>
                                                <td th:text="${product.dateCreated}">

                                                </td>
                                                <td>
                                                    <span><a th:href="${'/product/show/' + product.id}"><i class="ti-eye color-default"></i></a> </span>
                                                    <span><a th:href="${'/product/edit/' + product.id}"><i class="ti-pencil-alt color-success"></i></a></span>
                                                    <span><a th:href="${'/product/delete/' + product.id}"><i class="ti-trash color-danger"></i> </a></span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <th:block th:include="~{frag :: footer}"></th:block>
    <script th:src="@{/admin/assets/js/lib/sweetalert/sweetalert.min.js}"></script>

    <th:block th:if="${param.success}" >
        <script>
            (function() {
                let productSelected = document.getElementById('productName').innerHTML;
                toastr.success(productSelected + ' deleted successfully','Delete Product',{
                    timeOut: 5000,
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut",
                    "tapToDismiss": false
                })
            })();
        </script>

<!--      SWEET ALERT  -->
<!--        <script>-->
<!--            (function(){-->
<!--                swal("Deleted !!", "Hey, your imaginary file has been deleted !!", "success");-->
<!--            })();-->
<!--        </script>-->
    </th:block>

    <script th:src="@{/admin/assets/js/lib/sweetalert/sweetalert.init.js}"></script>

</body>
</html>